<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319981754217-sqlo38vj06fk30l8mfqo1k17gddp77dn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319981754217-sqlo38vj06fk30l8mfqo1k17gddp77dn</string>
	<key>API_KEY</key>
	<string>AIzaSyCpFkdkyhf-TtLBPiY1vwf8VcHNHaZ8SDM</string>
	<key>GCM_SENDER_ID</key>
	<string>319981754217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.flextech.elearning-test</string>
	<key>PROJECT_ID</key>
	<string>elearning-smartschool</string>
	<key>STORAGE_BUCKET</key>
	<string>elearning-smartschool.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319981754217:ios:1e80ceb48b37a3f9694ff8</string>
</dict>
</plist>